*~
.gradle
build
gen
bin
local.properties
.gradle
.*.swp
/.classpath
/.project
.idea/
.settings/
gen-external-apklibs/
target
classes/
./gitignore
keystore.properties
project.properties
*.iml
.DS_Store
out/
