[submodule "deps/actionbarsherlock"]
	path = deps/actionbarsherlock
	url = git://github.com/JakeWharton/ActionBarSherlock.git
[submodule "deps/pulltorefresh"]
	path = deps/pulltorefresh
	url = git://github.com/chrisbanes/Android-PullToRefresh.git
[submodule "deps/viewpagerindicator"]
	path = deps/viewpagerindicator
	url = git://github.com/JakeWharton/Android-ViewPagerIndicator.git
[submodule "deps/holoeverywhere"]
	path = deps/holoeverywhere
	url = git://github.com/ChristopheVersieux/HoloEverywhere.git
[submodule "deps/viewbadger"]
	path = deps/viewbadger
	url = git://github.com/jgilfelt/android-viewbadger.git
[submodule "deps/asynchttpclient"]
	path = deps/asynchttpclient
	url = git://github.com/AsyncHttpClient/async-http-client.git
