<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fanfou.app.hd"
    android:sharedUserId="com.fanfou.app"
    android:versionCode="20120320"
    android:versionName="2.0-beta(20120320)" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".App"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Light" >
        <activity
            android:name=".UIStart"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UILogin"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".UIRecords"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".UIVersionUpdate"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".UITabHome"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".UISearchResults" />
        </activity>
        <activity
            android:name=".UIHome"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".UISearchResults" />
        </activity>
        <activity
            android:name=".UIUserList"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".UIFavorites"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".UITimeline"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".UISearch"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".UISearchResults" />

            <intent-filter>
                <action android:name="com.fanfou.app.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UIEditProfile"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UIAbout"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".UIPhoto"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.UIPhoto" />
        <activity
            android:name=".UIStatus"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".UIUserChoose"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UIThread"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".UISignup"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".UIMe"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".UIMyProfile"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".UIProfile"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="user"
                    android:scheme="fanfouhd" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UIConversation"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UIWrite"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.fanfou.app.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.fanfou.app.action.GALLERY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.fanfou.app.action.CAMERA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UISetting"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme" />
        <activity
            android:name=".UISearchResults"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="search"
                    android:scheme="fanfouhd" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".dao.DataProvider"
            android:authorities="com.fanfou.app.hd.provider" />

        <service
            android:name=".service.PostStatusService"
            android:label="@string/app_name" />
        <service
            android:name=".service.DownloadService"
            android:label="@string/app_name" />
        <service
            android:name=".service.PostMessageService"
            android:label="@string/app_name" />
        <service
            android:name=".service.NotificationService"
            android:label="@string/app_name" />
        <service
            android:name=".service.AutoCompleteService"
            android:label="@string/app_name" />
        <service
            android:name=".service.QueueService"
            android:label="@string/app_name" />
        <service
            android:name=".service.FanFouService"
            android:label="@string/app_name" />

        <receiver android:name=".receiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.NotificationReceiver" >
            <intent-filter>
                <action android:name="com.fanfou.app.hd.action.NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.NetworkReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".appwidget.WidgetSmall"
            android:icon="@drawable/ic_launcher"
            android:label="饭否（1X4）" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small" />
        </receiver>
        <receiver
            android:name=".appwidget.WidgetTiny"
            android:icon="@drawable/ic_launcher"
            android:label="饭否（1X2）" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_tiny" />
        </receiver>
    </application>

</manifest>