<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mcxiaoke.fanfouapp"
          android:sharedUserId="com.mcxiaoke.fanfouapp"
          android:versionCode="2013060104"
          android:versionName="1.0.3">

    <uses-sdk android:minSdkVersion="14"/>

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="true"
            android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:name=".app.AppContext"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <meta-data android:value="4f4c9e7052701536b3000091" android:name="UMENG_APPKEY"/>
        <meta-data android:value="GooglePlay" android:name="UMENG_CHANNEL"/>

        <activity
                android:name=".app.UIStart"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".app.UILogin"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:excludeFromRecents="true" android:noHistory="true"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIRecords"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIVersionUpdate"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIHome"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:theme="@style/AppTheme.WhiteBg"
                android:launchMode="singleTask" android:screenOrientation="portrait">
            <meta-data
                    android:name="android.app.default_searchable"
                    android:value=".UISearchResults"/>
        </activity>
        <activity
                android:name=".app.UIUserList"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".app.UIFavorites"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".app.UIProfile"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:host="@string/intent_host_profile"
                        android:scheme="@string/intent_scheme"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".app.UITimeline"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".app.UISearch"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait">
            <meta-data
                    android:name="android.app.default_searchable"
                    android:value=".UISearchResults"/>
        </activity>
        <activity
                android:name=".app.UIPhotos"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIOptions"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIAbout"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIPhoto" android:theme="@style/AppTheme.Dark"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIStatus"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait"
                android:parentActivityName=".app.UIHome">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".app.UIHome"/>
        </activity>
        <activity
                android:name=".app.UIUserChoose"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name"
                android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIThread"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIConversation"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name"
                android:windowSoftInputMode="adjustResize" android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIWrite"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:launchMode="singleTask"
                android:windowSoftInputMode="adjustResize" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".app.UIDebugMode"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".app.UISearchResults"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name"
                android:launchMode="singleTop" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:host="@string/intent_host_search"
                        android:scheme="@string/intent_scheme"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>

        <provider
                android:name=".dao.DataProvider"
                android:authorities="com.mcxiaoke.fanfouapp.provider"
                android:exported="false"/>

        <service
                android:name=".service.DownloadService"
                android:label="@string/app_name" android:exported="false"/>
        <service
                android:name=".service.PostMessageService"
                android:label="@string/app_name" android:exported="false"/>
        <service
                android:name=".service.AutoCompleteService"
                android:label="@string/app_name" android:exported="false"/>

        <service android:name=".push.PushService" android:exported="false" android:label="@string/app_name"/>
        <service
                android:name=".service.SyncService"
                android:label="@string/app_name" android:exported="false"/>

        <receiver android:name=".receiver.PushReceiver" android:label="@string/app_name" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.mcxiaoke.fanfouapp.PushService.ACTION_CHECK"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.mcxiaoke.fanfouapp.PushService.ACTION_ALARM"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>