<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mcxiaoke.fanfouapp"
          android:sharedUserId="com.mcxiaoke.fanfouapp"
          android:versionCode="20130515"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14"/>

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="true"
            android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:name=".app.AppContext"
            android:hardwareAccelerated="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".app.UIStart"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:excludeFromRecents="true" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".app.UILogin"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:excludeFromRecents="true" android:noHistory="true"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIRecords"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIVersionUpdate"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIHome"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name"
                android:launchMode="singleTask" android:screenOrientation="portrait">
            <meta-data
                    android:name="android.app.default_searchable"
                    android:value=".UISearchResults"/>
        </activity>
        <activity
                android:name=".app.UIUserList"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".app.UIFavorites"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".app.UIProfile"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:host="@string/intent_host_profile"
                        android:scheme="@string/intent_scheme"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".app.UITimeline"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".app.UISearch"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait">
            <meta-data
                    android:name="android.app.default_searchable"
                    android:value=".UISearchResults"/>
        </activity>
        <activity
                android:name=".app.UIAbout"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIPhoto"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIStatus"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".app.UIUserChoose"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name"
                android:windowSoftInputMode="stateHidden" android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIThread"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIConversation"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name"
                android:windowSoftInputMode="adjustResize" android:screenOrientation="portrait"/>
        <activity
                android:name=".app.UIWrite"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name"
                android:windowSoftInputMode="adjustResize" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".app.UIDebugMode"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name" android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".app.UISearchResults"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name"
                android:launchMode="singleTop" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:host="@string/intent_host_search"
                        android:scheme="@string/intent_scheme"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>

        <provider
                android:name=".dao.DataProvider"
                android:authorities="com.mcxiaoke.fanfouapp.provider"
                android:exported="false"/>

        <service
                android:name=".service.PostStatusService"
                android:label="@string/app_name"/>
        <service
                android:name=".service.DownloadService"
                android:label="@string/app_name"/>
        <service
                android:name=".service.PostMessageService"
                android:label="@string/app_name"/>
        <service
                android:name=".service.NotificationService"
                android:label="@string/app_name"/>
        <service
                android:name=".service.AutoCompleteService"
                android:label="@string/app_name"/>
        <service
                android:name=".service.QueueService"
                android:label="@string/app_name"/>
        <service
                android:name=".service.FanFouService"
                android:label="@string/app_name"/>

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>