<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcxiaoke.minicat"
    android:sharedUserId="com.mcxiaoke.minicat"
    android:versionCode="2014080801"
    android:versionName="1.2.9">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:name="com.mcxiaoke.minicat.AppContext"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:value="4f4c9e7052701536b3000091"
            android:name="UMENG_APPKEY" />
        <meta-data
            android:value="GooglePlay"
            android:name="UMENG_CHANNEL" />

        <activity
            android:name="com.mcxiaoke.minicat.app.UIStart"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mcxiaoke.minicat.app.UILogin"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mcxiaoke.minicat.app.UIRecords"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mcxiaoke.minicat.app.UIVersionUpdate"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mcxiaoke.minicat.app.UIHome"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.WhiteBg"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".UISearchResults" />
        </activity>
        <activity
            android:name="com.mcxiaoke.minicat.app.UIUserList"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mcxiaoke.minicat.app.UIHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcxiaoke.minicat.app.UIHome" />
        </activity>
        <activity
            android:name="com.mcxiaoke.minicat.app.UIFavorites"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mcxiaoke.minicat.app.UIHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcxiaoke.minicat.app.UIHome" />
        </activity>

        <activity
            android:name="com.mcxiaoke.minicat.app.UIProfile"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mcxiaoke.minicat.app.UIHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcxiaoke.minicat.app.UIHome" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/intent_host_profile"
                    android:scheme="@string/intent_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mcxiaoke.minicat.app.UITimeline"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mcxiaoke.minicat.app.UIHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcxiaoke.minicat.app.UIHome" />
        </activity>
        <activity
            android:name="com.mcxiaoke.minicat.app.UISearch"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mcxiaoke.minicat.app.UIHome">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".UISearchResults" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcxiaoke.minicat.app.UIHome" />
        </activity>
        <activity
            android:name="com.mcxiaoke.minicat.app.UIGallery"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mcxiaoke.minicat.app.UIPhotos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcxiaoke.minicat.app.UIPhotos" />
        </activity>
        <activity
            android:name="com.mcxiaoke.minicat.app.UIPhotos"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mcxiaoke.minicat.app.UIProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcxiaoke.minicat.app.UIProfile" />
        </activity>
        <activity
            android:name="com.mcxiaoke.minicat.app.UIOptions"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mcxiaoke.minicat.app.UIAbout"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mcxiaoke.minicat.app.UIPhoto"
            android:theme="@style/AppTheme.Dark"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mcxiaoke.minicat.app.UIHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcxiaoke.minicat.app.UIHome" />
        </activity>
        <activity
            android:name="com.mcxiaoke.minicat.app.UIStatus"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mcxiaoke.minicat.app.UIHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcxiaoke.minicat.app.UIHome" />
        </activity>
        <activity
            android:name="com.mcxiaoke.minicat.app.UIUserChoose"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mcxiaoke.minicat.app.UIHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcxiaoke.minicat.app.UIHome" />
        </activity>
        <activity
            android:name="com.mcxiaoke.minicat.app.UIThread"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mcxiaoke.minicat.app.UIHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcxiaoke.minicat.app.UIHome" />
        </activity>
        <activity
            android:name="com.mcxiaoke.minicat.app.UIConversation"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mcxiaoke.minicat.app.UIHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcxiaoke.minicat.app.UIHome" />
        </activity>
        <activity
            android:name="com.mcxiaoke.minicat.app.UIWrite"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mcxiaoke.minicat.app.UIHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcxiaoke.minicat.app.UIHome" />

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mcxiaoke.minicat.app.UIDebugMode"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mcxiaoke.minicat.app.UISearchResults"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:parentActivityName="com.mcxiaoke.minicat.app.UIHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcxiaoke.minicat.app.UIHome" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/intent_host_search"
                    android:scheme="@string/intent_scheme" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name="com.mcxiaoke.minicat.dao.DataProvider"
            android:authorities="com.mcxiaoke.minicat.provider"
            android:exported="false" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <service
            android:name="com.mcxiaoke.minicat.service.DownloadService"
            android:label="@string/app_name"
            android:exported="false" />
        <service
            android:name="com.mcxiaoke.minicat.service.PostMessageService"
            android:label="@string/app_name"
            android:exported="false" />
        <service
            android:name="com.mcxiaoke.minicat.service.AutoCompleteService"
            android:label="@string/app_name"
            android:exported="false" />

        <service
            android:name="com.mcxiaoke.minicat.push.PushService"
            android:exported="false"
            android:label="@string/app_name" />
        <service
            android:name="com.mcxiaoke.minicat.service.SyncService"
            android:label="@string/app_name"
            android:exported="false" />

        <receiver
            android:name="com.mcxiaoke.minicat.receiver.PushReceiver"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.mcxiaoke.minicat.PushService.ACTION_CHECK" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.mcxiaoke.minicat.PushService.ACTION_ALARM" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.mcxiaoke.minicat.PushService.ACTION_NOTIFY" />
            </intent-filter>
        </receiver>

    </application>

</manifest>