* {
    margin:0;
    padding:0;
    font-family:Tahoma, Helvetica, sans-serif;
}

* html * {
    font-family:Arial, sans-serif;
}

html {
    overflow-y:scroll;
}

body {
    background:#acdae5 url(./img/0.png) no-repeat 0 0;
    color:#222;
    font-size:12px;
    line-height:150%;
}

img {
    border:0;
    vertical-align:middle;
}

abbr {
    border-bottom:1px dashed #666;
    cursor:help;
}

a {
    color: #06c;
    text-decoration: none;
}

a:hover {
    background-color: #06c;
    color: white;
}


#container {
    width:775px;
    margin: 20px auto;
}

/* round box */
.ui-roundedbox-content {
    height:25px;
    padding:0 5px 0 3px;
    line-height:25px;
    white-space:nowrap;
}

.ui-roundedbox {
    *zoom:1;
}

.ui-roundedbox:after {
    content:".";
    display:block;
    font-size:0;
    line-height:0;
    clear:both;
    visibility:hidden;
}

.ui-roundedbox-corner {
    position:relative;
    background:url(./img/radius.gif) no-repeat;
    _background-image:url(./img/radius.gif);
    *zoom:1;
}

.ui-roundedbox-tl {
    background-position:0 0;
    margin:0 10px 10px 0;
    top:0;
    left:0;
}

.ui-roundedbox-tr {
    background-position:100% 0;
    top:0;
    right:-10px;
}

.ui-roundedbox-bl {
    background-position:0 100%;
    bottom:-10px;
    left:-10px;
}

.ui-roundedbox-br {
    background-position:100% 100%;
    bottom:0px;
    right:-10px;
}

.ui-roundedbox-content {
    position:relative;
    left:-5px;
    top:-5px;
    background:#fff;
}

#header h1{
    width: 350px;
    float:left;
}
#header h1 a:hover { background-color:transparent;}

#header:after {
    content:".";
    display: block;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden; 
}

#navigation .ui-roundedbox-content { height:25px; padding:0 5px 0 3px; font-size:14px; line-height:25px; white-space:nowrap;}

#navigation, #nav {
    float: right;
    margin-top: 10px;
}

#nav {
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding:7px 10px;
    font-size:14px;
}

#navlist {
    list-style:none;
    list-style-type: none;
    float:right;
}

#navlist:after {
    content: '.';
    display: none;
    clear: both;
}

#navlist li {
    margin: 0px 10px;
    display: inline;
    float: left;
}

#android-main {
    position: relative;
    margin: 20px auto 0;
    width: 735px;
    height: 440px;
    background-color: white;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
#android-cellphone {
    position: relative;
    z-index: 2;
    float: left;
    height: 441px;
    width: 290px;
    background: transparent url(./img/android-cellphone.png) no-repeat top left;
}

#interface-gallery {
    overflow: hidden;
    position: absolute;
    top: 65px;
    left: 37px;
    height: 267px;
    width: 160px;
}

#interface-list {
    position: absolute;
    width: 640px;
}

#support {
    display: block;
    margin-top: -28px;
    float: left;
}

#android-download {
    z-index: 1;
    position: relative;
    width: 472px;
    padding-top: 80px;
    height: 361px;
    background: transparent url(./img/download-bg.png) no-repeat left top;
}

#android-download-desc {
    font-size: 14px;
    line-height: 1.5em;
    margin-top: -15px;
    margin-bottom: 10px;
}

#android-download-methods {
    height: 162px;
    background: transparent url(./img/buble.png) no-repeat left top;
    margin-left: -20px;
    padding: 7px 10px 2px 52px;
}

#fanfoudroid {
    display: block;
    padding-top: 10px;
}

#fanfoudroid-logo {
    float: left;
}

#fanfoudroid-title {
    margin-left: 14px;
}
#fanfoudroid-desc {
    font-size: 14px;
    margin-left: -80px;
    padding-left: 80px;
    margin-top: 10px;
    float: left;
    display: inline;
}
.dl-method {
    width: 128px;
    margin-left: 10px;
}

#dl-apk, #dl-91 {
    margin-top: 10px;
    display: block;
    text-indent: -99999px;
    height: 45px;
}

#dl-apk {
    background: transparent url(./img/btn.png) no-repeat 0 0;
}

#dl-apk:hover {
    background-position: -128px 0;
}

#dl-apk:active {
    background-position: -256px 0;
}

#dl-91 {
    background: transparent url(./img/btn.png) no-repeat 0 -45px;
}

#dl-91:hover {
    background: transparent url(./img/btn.png) no-repeat -128px -45px;
}
#dl-91:active {
    background: transparent url(./img/btn.png) no-repeat -256px -45px;
}


#footer {
    line-height: 16px;
    margin-top: 20px;
    font-size: 12px; 
    text-align: center;
    background-color: white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
}

#miibeian {
    color: #ddd;
}

.inline li {
    display: inline;
    float: left;
}


.cleanlist {
    list-style:none;
    list-style-type: none;
}
.clear {
    clear: both;
}
